@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body {
    margin: 0;
    font-family: 'Indie Flower', cursive !important;
}

button {
    box-shadow: none;
}

.ant-spin {
    position: absolute!important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}